

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <div class="container position:relative ,left:80px; top:8px">
   
    <h2  style="font-size:30px; color:lightblue; font-family:Arial; text-align: center">WELCOME TO THE HOME GARGDETS AND SOFTWARE DEVELOPMENT</h2>  
  </div>
  <br>

<div class="row">
  <div class="col-sm-6">
    <div class="card1">
      <div class="card-body">
        <h5 class="card-title">MOBILE APPLICATIONS</h5>
        <img src="../assets/app-development-platforms.png" class="card-img-top" width="800" height="250">    
            <a href="#" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LAPTOP & CELLPHONE  REPAIR</h5>
        <img src="../assets/lpt.jpeg" class="card-img-top" width="800" height="250">
        <a href="#" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SYSTEM SUPPORT</h5>
        <img src="../assets/images.jpeg" class="card-img-top" width="800" height="250">
        <a href="#" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PRINTING WORK</h5> 
         <img src="../assets/01Wsuw14K02wrCTGIwg8xA8-15.webp" class="card-img-top" width="800" height="250">
        <a href="#" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</div>







 
